@import url('../node_modules/pikaday/css/pikaday.css');

/**
 * Provides general styles for native app like behavior.
 */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: #111;
}

body, input, button, select, option, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
}

body, a {
  cursor: default;
  overflow: hidden;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

pre, code {
  font-family: Consolas, Menlo, Monaco, 'Ubuntu Mono', monospace;
  line-height: 1.3;
}

#main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

h2 {
  font-size: 1.7em;
  font-weight: normal;
  text-transform: lowercase;
}

a, img {
  user-drag: none;
  -webkit-user-drag: none;
  object-fit: contain;
}

img {
  vertical-align: bottom;
}

#busy {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: wait;
  z-index: 999;
}

#input-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    pointer-events: none;
  }
  #input-box .inner {
    position: absolute;
    margin-left: -205px;
    top: 0;
    left: 50%;
    width: 400px;
    padding: 5px;
    background: rgba(38, 41, 44, .97);
    color: #eee;
    transform: translateY(-100%);
    transition: transform .1s;
  }
  #input-box.show {
    pointer-events: auto;
  }
  #input-box.show .inner {
    transform: translateY(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  #input-box input {
    box-sizing: border-box;
    background: #111;
    color: #eee;
    width: 100%;
  }
  #input-box input:focus {
    background: #1a1a1a;
}

form p, form ul li {
    margin-bottom: 7px;
  }
  form ul {
    list-style: none;
  }
  input[type="text"] {
    width: 125px;
  }
  textarea {
    resize: none;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    display: inline-block;
    position: relative;
    height: 1.5em;
    width: 1.5em;
    margin-right: 5px;
    vertical-align: text-bottom;
  }
  input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../node_modules/@primer/octicons/build/svg/check.svg') center / auto 16px no-repeat;
    opacity: 0;
  }
  input[type="checkbox"]:checked::before {
    opacity: 1;
  }
  input, button, select, textarea {
    border: 0;
    padding: 5px 10px;
  }
  button {
    padding: 5px 20px;
  }
  button.dropdown {
    position: relative;
    padding-right: 42px;
  }
  button.dropdown::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 20px;
    top: 50%;
    margin-top: -8px;
    background: url('../node_modules/@primer/octicons/build/svg/chevron-down.svg') center / auto 16px no-repeat;
    filter: invert(100%);
  }
  input:focus, button:focus, select:focus, textarea:focus {
    outline: none;
  }
  input:disabled, select:disabled, button:disabled, textarea:disabled {
    opacity: .5;
  }
  form > p:last-child {
    text-align: right;
}

/**
 * Scrollbars
 */

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #393939;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #494949;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
}

/**
 * Pikaday
 */

.pika-single {
  position: absolute;
  color: white;
  background: #111;
  border: none;
  font-family: inherit;
  box-shadow: 0 -5px 15px rgba(0,0,0,.5);
  transition: left .2s, top .2s;
}

.pika-label {
  overflow: visible;
  font-weight: normal;
  background-color: transparent;
}

.pika-title select {
  background: #1a1a1a;
  color: white;
  cursor: default;
}

.pika-prev, .pika-next {
    background-size: auto 16px;
    cursor: default;
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  .pika-prev {
    background-image: url('../node_modules/@primer/octicons/build/svg/chevron-left.svg');
  }
  .pika-next {
    background-image: url('../node_modules/@primer/octicons/build/svg/chevron-right.svg');
}

.pika-table th {
  color: #999;
  font-weight: normal;
}

.pika-button {
    cursor: default;
    color: white;
    background: #1a1a1a;
  }
  .pika-button:active, .pika-prev:active, .pika-next:active {
    position: static;
}

.pika-week { color: #999; }

.is-selected .pika-button {
  color: #fff;
  font-weight: normal;
  background: #1a1a1a;
  box-shadow: none;
  border-radius: 0;
}

.is-today .pika-button { color: #F75644; }

.pika-button:hover {
  color: #fff;
  background: #823499;
  border-radius: 0;
}

.is-multi-selected .pika-button {
  color: #fff;
  background: #0050C0;
}

.is-today .pika-button { font-weight: bold; }

.pika-table abbr {
  cursor: default;
  text-decoration: none;
}
