@import url('../node_modules/gemini-scrollbar/gemini-scrollbar.css');
@import url('../node_modules/pikaday/css/pikaday.css');

/**
 * Provides general styles for native app like behavior.
 */

* {
    margin: 0;
    padding: 0;
}

html, body { overflow: hidden; height: 100%; }

body, input, button, select, option, textarea {
    font: menu;
    font-size: 14px;
    line-height: 1.5;
}

body, a {
    cursor: default;
    overflow: hidden;
    outline: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

pre, code {
    font: 14px/1.3 Consolas, Menlo, Monaco, 'Ubuntu Mono', monospace;
}

#main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h2 {
    font-size: 1.7em;
    font-weight: normal;
    text-transform: lowercase;
}

a, img {
    user-drag: none;
    -webkit-user-drag: none;
    object-fit: contain;
}

#bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    overflow: hidden;
    text-align: center;
    background: #26292C;
    color: #eee;
    line-height: 40px;
}

img {
    vertical-align: bottom;
}

#busy {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: wait;
        z-index: 999;
    }
    body.busy #busy {
        display: block;
}

form p, form ul li {
        margin: 7px 0;
    }
    form ul {
        list-style: none;
    }
    input[type="text"] {
        width: 125px;
    }
    textarea {
        resize: none;
    }
    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        display: inline-block;
        position: relative;
        height: 1.5em;
        width: 1.5em;
        margin-right: 5px;
        vertical-align: top;
    }
    input[type="checkbox"]::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../node_modules/octicons/svg/check.svg') center / auto 16px no-repeat;
        opacity: 0;
        transition: opacity .2s;
    }
    input[type="checkbox"]:checked::before {
        opacity: 1;
    }
    input, button, select, textarea {
        border: 0;
        padding: 5px 10px;
    }
    button {
        padding: 5px 20px;
    }
    input:focus, button:focus, select:focus, textarea:focus {
        outline: none;
    }
    input:disabled, select:disabled, button:disabled, textarea:disabled {
        opacity: .5;
    }
    form > p:last-child {
        text-align: right;
}

/**
 * Gemini Scrollbars
 */

.gm-scrollbar {
        bottom: 0;
        right: 0;
    }
    .gm-scrollbar.-vertical {
        width: 8px;
        top: 0;
    }
    .gm-scrollbar.-horizontal {
        height: 8px;
        left: 0;
    }
    .gm-scrollbar .thumb {
        background: #393939;
        border-radius: 0;
        cursor: default;
        transition: background .2s, height .5s, width .5s;
    }
    .gm-scrollbar .thumb:hover, .gm-scrollbar .thumb:active {
        background: #494949;
    }
    .gm-scrollbar .thumb:active {
        transition: none;
}

/**
 * Pikaday
 */

.pika-single {
    position: absolute;
    border: none;
    color: white;
    background: #111;
    font-family: inherit;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    transition: left .2s, top .2s;
}

.pika-label {
    overflow: visible;
    font-weight: normal;
    background-color: transparent;
}

.pika-title select {
    background: #1a1a1a;
    color: white;
    cursor: default;
}

.pika-prev, .pika-next {
        background-size: 16px 16px;
        cursor: default;
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    .pika-prev {
        background-image: url('../node_modules/octicons/svg/chevron-left.svg');
    }
    .pika-next {
        background-image: url('../node_modules/octicons/svg/chevron-right.svg');
}

.pika-table th {
    color: #999;
    font-weight: normal;
}

.pika-button {
        cursor: default;
        color: white;
        background: #1a1a1a;
    }
    .pika-button:active, .pika-prev:active, .pika-next:active {
        position: static;
}

.pika-week { color: #999; }

.is-selected .pika-button {
    color: #fff;
    font-weight: normal;
    background: #1a1a1a;
    box-shadow: none;
    border-radius: 0;
}

.is-today .pika-button { color: #F75644; }

.pika-button:hover {
    color: #fff;
    background: #823499;
    border-radius: 0;
}

.is-multi-selected .pika-button {
    color: #fff;
    background: #0050C0;
}

.is-today .pika-button { font-weight: bold; }

.pika-table abbr { cursor: default; }
