@import url('../node_modules/gemini-scrollbar/gemini-scrollbar.css');

/**
 * app.css
 *
 * Provides general styles for websites that behave like apps.
 */

* {
    margin: 0;
    padding: 0;
}

body { overflow: hidden; }

body, input, button, select, option, textarea {
    font: menu;
    font-size: 14px;
    line-height: 1.5;
}

body, a {
    cursor: default;
    overflow: hidden;
    outline: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-user-select: none;
}

#main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h2 {
    font-size: 1.7em;
    font-weight: normal;
    text-transform: lowercase;
}

a, img {
    -webkit-user-drag: none;
}

#bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    overflow: hidden;
    text-align: center;
    background: #26292C;
    color: #eee;
    line-height: 40px;
}

img {
    vertical-align: bottom;
}

#busy {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: wait;
        z-index: 999;
    }
    body.busy #busy {
        display: block;
}

form p, form ul li {
        margin: 5px 0;
    }
    form ul {
        list-style: none;
    }
    input[type="text"] {
        width: 125px;
    }
    input, button, select, textarea {
        border: 0;
        padding: 5px 10px;
    }
    button {
        padding: 5px 20px;
    }
    input:focus, button:focus, select:focus, textarea:focus {
        outline: none;
    }
    input:disabled, select:disabled, button:disabled, textarea:disabled {
        opacity: .5;
    }
    form p:last-child {
        text-align: right;
}

/**
 * Gemini Scrollbars
 */

.gm-scrollbar {
        bottom: 0;
        right: 0;
    }
    .gm-scrollbar.-vertical {
        width: 8px;
        top: 0;
    }
    .gm-scrollbar.-horizontal {
        height: 8px;
        left: 0;
    }
    .gm-scrollbar .thumb {
        background: #393939;
        border-radius: 0;
        cursor: default;
        transition: background .2s, height .5s, width .5s, transform .2s;
    }
    .gm-scrollbar .thumb:hover, .gm-scrollbar .thumb:active {
        background: #494949;
    }
    .gm-scrollbar .thumb:active {
        transition: none;
}
