/**
 * app.css
 *
 * Provides general styles for websites that behave like apps.
 */

* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.5 'Segoe UI', sans-serif;
    cursor: default;
    -webkit-user-select: none;
}