/**
 * app.css
 *
 * Provides general styles for websites that behave like apps.
 */

* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.5 'Segoe UI', sans-serif;
    cursor: default;
    -webkit-user-select: none;
}

header {
    height: 40px;
    background: #26292C;
    color: #eee;
    line-height: 40px;
    position: relative;
    text-align: center;
}

img {
    vertical-align: middle;
}