/**
 * goban.css
 *
 * Styles the Go board
 */

.goban {
        border: 10px solid #ca933a;
        padding: 10px 8px 8px 10px;
        background: url('../img/goban/board.png') center #ECB55A;
        color: #5E2E0C;
        text-shadow: 0 1px 0 #D28D32;
    }
    .goban div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    .goban ol {
        list-style: none;
        white-space: nowrap;
    }
    .goban li {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .goban li .stone, .goban li .stone img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
}

/**
 * Coordinates
 */

.goban .coordy {
        position: absolute;
        left: 0;
        margin: 0;
    }
    .goban .coordy li { display: block; }
    .goban:not(.coordinates) .coordx, .goban:not(.coordinates) .coordy {
        display: none;
}

/**
 * Board images
 */

.goban .row li {
        position: relative;
        background: url('../img/goban/inner.png') center;
    }
    .goban .row li.hoshi {
        background-image: url('../img/goban/hoshi.png');
    }
    .goban .row:nth-child(3) li {
        background-image: url('../img/goban/side-n.png');
    }
    .goban .row:nth-last-child(3) li {
        background-image: url('../img/goban/side-s.png');
    }
    .goban .row li:first-child {
        background-image: url('../img/goban/side-w.png');
    }
    .goban .row li:last-child {
        background-image: url('../img/goban/side-e.png');
    }
    .goban .row:nth-child(3) li:first-child {
        background-image: url('../img/goban/corner-nw.png');
    }
    .goban .row:nth-child(3) li:last-child {
        background-image: url('../img/goban/corner-ne.png');
    }
    .goban .row:nth-last-child(3) li:first-child {
        background-image: url('../img/goban/corner-sw.png');
    }
    .goban .row:nth-last-child(3) li:last-child {
        background-image: url('../img/goban/corner-se.png');
}

/**
 * Dimming & Paint
 */

.scoring .goban .row li.dead img,
body:not(.scoring) .goban .row li.dimmed img {
    opacity: .5;
}

.goban .row li div.paint {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .3;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    .scoring .goban .row li.area_1 div.paint,
    body:not(.scoring) .goban .row li.paint_1 div.paint {
        display: block;
        background-color: black;
    }
    .scoring .goban .row li.area_-1 div.paint,
    body:not(.scoring) .goban .row li.paint_-1 div.paint {
        display: block;
        background-color: white;
}

/**
 * Markups
 */

.goban .row li .stone::after, .goban .row li .stone::after {
        content: '';
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: .5em;
        height: .5em;
        margin-left: -.27em;
        margin-top: -.27em;
        border-radius: 500em;
        opacity: .3;
        z-index: 2;
    }
    .goban .row li.ghostcircle_1 .stone::after, .goban .row li.ghostcircle_-1 .stone::after {
        width: .43em;
        height: .43em;
    }
    .goban .row li.ghostcircle_-1 .stone::after { border-color: white; }
    .goban .row li.ghost_1 .stone::after,
    .goban .row li.sign_-1.point .stone::after { background: black; }
    .goban .row li.ghost_-1 .stone::after,
    .goban .row li.sign_1.point .stone::after { background: white; }
    .goban.variations .row li.ghost_1 .stone::after,
    .goban.variations .row li.ghost_-1 .stone::after,
    .goban.joseki .row li.ghostcircle_1 .stone::after,
    .goban.joseki .row li.ghostcircle_-1 .stone::after { display: block; }
    .goban .row li.point .stone::after {
        display: block;
        width: .29em;
        height: .29em;
        margin-left: -.18em;
        margin-top: -.18em;
        opacity: 1;
}

.goban .row li .stone::before {
        box-sizing: border-box;
        content: '';
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        background: url('../img/goban/board.png') center #EFB65D;
        border: 2px solid #5E2E0C;
        text-align: center;
        font-weight: bold;
        z-index: 2;
    }
    .goban .row li.sign_1 .stone::before {
        background: transparent;
        border-color: white;
        color: white;
        box-shadow: none !important;
        text-shadow: none;
    }
    .goban .row li.sign_-1 .stone::before {
        background: transparent;
        border-color: black;
        color: black;
        box-shadow: none !important;
        text-shadow: none;
    }
    .goban .row li.square .stone::before,
    .goban .row li.circle .stone::before {
        display: block;
        width: .5em;
        height: .5em;
        margin-left: -.28em;
        margin-top: -.28em;
        box-shadow: 0 1px 0 #D28D32;
    }
    .goban .row li.circle .stone::before {
        border-radius: 500em;
    }
    .goban .row li.cross .stone::before {
        content: '\2715';
        display: block;
        border: none;
        width: 1em;
        height: 1em;
        margin-left: -.55em;
        margin-top: -.55em;
        font-size: .7em;
        line-height: .93;
    }
    .goban .row li.triangle .stone::before {
        content: '\25b3';
        display: block;
        width: .77em;
        height: .77em;
        margin-left: -.40em;
        margin-top: -.40em;
        border: none;
        font-size: .9em;
        font-weight: normal;
        line-height: .46;
    }
    .goban .row li.label .stone::before {
        content: attr(title);
        display: block;
        border: none;
        width: 1.15em;
        height: 1.09em;
        margin-top: -.6em;
        margin-left: -.6em;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal;
        font-size: .6em;
        line-height: 1.09;
    }
    .goban .row li.smalllabel .stone::before {
        width: 1.94em;
        height: 1.2em;
        margin-top: -.65em;
        margin-left: -1.04em;
        font-size: .36em;
        line-height: 1.2;
}

/**
 * Lines & Arrows
 */

.goban .line, .goban .arrow,
.goban .arrow::before, .goban .arrow::after {
    position: absolute;
    border: none;
    height: .11em;
    background: #7F4F2E;
    pointer-events: none;
    z-index: 3;
}

.goban .arrow::before, .goban .arrow::after {
        content: '';
        width: .36em;
        right: 0;
        top: -.07em;
        transform: rotate(30deg);
    }
    .goban .arrow::after {
        top: auto;
        bottom: -.07em;
        transform: rotate(-30deg);
}

/**
 * Fuzzy stone placement
 */

.goban.fuzzy .row li.sign_1.shift_1 .stone,
.goban.fuzzy .row li.sign_-1.shift_1 .stone {
        transform: translateX(-2px);
    }
    .goban.fuzzy .row li.sign_1.shift_2 .stone,
    .goban.fuzzy .row li.sign_-1.shift_2 .stone {
        transform: translateY(-2px);
    }
    .goban.fuzzy .row li.sign_1.shift_3 .stone,
    .goban.fuzzy .row li.sign_-1.shift_3 .stone {
        transform: translateX(2px);
    }
    .goban.fuzzy .row li.sign_1.shift_4 .stone,
    .goban.fuzzy .row li.sign_-1.shift_4 .stone {
        transform: translateY(2px);
    }
    .goban.fuzzy .row li.sign_1.shift_5 .stone,
    .goban.fuzzy .row li.sign_-1.shift_5 .stone {
        transform: translate(-1px, -1px);
    }
    .goban.fuzzy .row li.sign_1.shift_6 .stone,
    .goban.fuzzy .row li.sign_-1.shift_6 .stone {
        transform: translate(1px, -1px);
    }
    .goban.fuzzy .row li.sign_1.shift_7 .stone,
    .goban.fuzzy .row li.sign_-1.shift_7 .stone {
        transform: translate(1px, 1px);
    }
    .goban.fuzzy .row li.sign_1.shift_8 .stone,
    .goban.fuzzy .row li.sign_-1.shift_8 .stone {
        transform: translate(-1px, 1px);
}
