/**
 * goban.css
 *
 * Styles the Go board
 */

#goban {
    display: inline-block;
    border: 10px solid #B48F5F;
    padding: 10px 8px 8px 10px;
    min-width: 570px;
    background: #DFB277 url('../img/goban.png') center;
}

#goban ol {
        overflow: hidden;
        list-style: none;
    }
    #goban li {
        display: block;
        height: 30px;
        width: 30px;
        float: left;
        background: url('../img/inner.png') center;
    }
    #goban li.hoshi {
        background-image: url('../img/hoshi.png');
    }
    #goban ol:first-child li {
        background-image: url('../img/side-n.png');
    }
    #goban ol:last-child li {
        background-image: url('../img/side-s.png');
    }
    #goban ol li:first-child {
        background-image: url('../img/side-w.png');
    }
    #goban ol li:last-child {
        background-image: url('../img/side-e.png');
    }
    #goban ol:first-child li:first-child {
        background-image: url('../img/corner-nw.png');
    }
    #goban ol:first-child li:last-child {
        background-image: url('../img/corner-ne.png');
    }
    #goban ol:last-child li:first-child {
        background-image: url('../img/corner-sw.png');
    }
    #goban ol:last-child li:last-child {
        background-image: url('../img/corner-se.png');
    }
    #goban li img {
        max-width: 100%;
        max-height: 100%;
}