/**
 * goban.css
 *
 * Styles the Go board
 */

#goban {
    display: inline-block;
    border: 10px solid #B48F5F;
    padding: 10px 8px 8px 10px;
    background: #DFB277 url('../img/goban.png') center;
}

#goban ol {
        list-style: none;
        white-space: nowrap;
    }
    #goban li {
        display: inline-block;
        height: 30px;
        width: 30px;
        background: url('../img/inner.png') center;
    }
    #goban li.hoshi {
        background-image: url('../img/hoshi.png');
    }
    #goban ol:first-child li {
        background-image: url('../img/side-n.png');
    }
    #goban ol:last-child li {
        background-image: url('../img/side-s.png');
    }
    #goban ol li:first-child {
        background-image: url('../img/side-w.png');
    }
    #goban ol li:last-child {
        background-image: url('../img/side-e.png');
    }
    #goban ol:first-child li:first-child {
        background-image: url('../img/corner-nw.png');
    }
    #goban ol:first-child li:last-child {
        background-image: url('../img/corner-ne.png');
    }
    #goban ol:last-child li:first-child {
        background-image: url('../img/corner-sw.png');
    }
    #goban ol:last-child li:last-child {
        background-image: url('../img/corner-se.png');
    }
    #goban li img {
        width: 100%;
        height: 100%;
}

header span {
        position: absolute;
        left: 0;
        right: 50%;
        top: 0;
        bottom: 0;
        padding-left: 10px;
        padding-right: 30px; 
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #player_-1 {
        left: 50%;
        right: 0;
        padding-right: 10px;
        padding-left: 30px;
        text-align: left;
    }
    header img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 21px;
        transform: translate(-50%, -50%);
    }
    #headermenu {
        left: auto;
        right: 5px;
        height: 32px;
        transform: translateY(-50%);
    }