/**
 * Styles the Go board
 */

.goban {
        position: relative;
        border: 7px solid rgb(202, 147, 58);
        padding: 10px 8px 8px 10px;
        background: #ECB55A url('../img/goban/board.png') center fixed;
        color: #5E2E0C;
        text-shadow: 0 1px 0 #D28D32;
    }
    .goban.crosshair, .find .goban { cursor: crosshair; }
    .goban > div {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    .goban ol {
        list-style: none;
        white-space: nowrap;
    }
    .goban li {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .goban li .stone, .goban li .stone img, .goban li .stone::before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    .goban li .stone img, .goban li .stone::before {
        height: calc(100% - 2px);
        width: calc(100% - 2px);
    }
    .goban li.sign_1 .stone img {
        background: url('../img/goban/stone_1.png') center / 100% 100%;
    }
    .goban li.sign_-1 .stone img {
        background: url('../img/goban/stone_-1.png') center / 100% 100%;
    }
    .goban li.sign_1 .stone::before, .goban li.sign_-1 .stone::before {
        content: '';
        display: block;
        border-radius: 100%;
        background: black;
        opacity: .4;
        box-shadow: 0 2px .18em rgba(20, 0, 15, 1);
        z-index: 0;
    }
    .goban li.sign_1 .stone::before {
        opacity: .5;
}

/**
 * Coordinates
 */

.goban .coordx, .goban .coordy {
        font-size: .6em;
    }
    .goban .coordy {
        position: absolute;
        left: 0;
        margin: 0;
    }
    .goban .coordy li { display: block; }
    .goban:not(.coordinates) .coordx, .goban:not(.coordinates) .coordy {
        display: none;
}

/**
 * Board images
 */

.goban .row li {
        position: relative;
        background: url('../img/goban/inner.svg') center;
    }
    .goban .row li.hoshi::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: calc(-.105em - 1px);
        margin-left: calc(-.105em - 1px);
        width: .21em;
        height: .21em;
        border-radius: .21em;
        background: #5E2E0C;
    }
    .goban .row:nth-child(3) li {
        background-image: url('../img/goban/side-n.svg');
    }
    .goban .row:nth-last-child(3) li {
        background-image: url('../img/goban/side-s.svg');
    }
    .goban .row li:first-child {
        background-image: url('../img/goban/side-w.svg');
    }
    .goban .row li:last-child {
        background-image: url('../img/goban/side-e.svg');
    }
    .goban .row:nth-child(3) li:first-child {
        background-image: url('../img/goban/corner-nw.svg');
    }
    .goban .row:nth-child(3) li:last-child {
        background-image: url('../img/goban/corner-ne.svg');
    }
    .goban .row:nth-last-child(3) li:first-child {
        background-image: url('../img/goban/corner-sw.svg');
    }
    .goban .row:nth-last-child(3) li:last-child {
        background-image: url('../img/goban/corner-se.svg');
}

/**
 * Dimming & Paint
 */

.scoring .goban .row li.dead img,
.estimator .goban .row li.dead img,
body:not(.scoring):not(.estimator) .goban .row li.dimmed img {
    opacity: .5;
}

.goban .row li div.paint {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .3;
        z-index: 3;
    }
    .scoring .goban .row li.area_1 div.paint,
    .estimator .goban .row li.area_1 div.paint,
    body:not(.scoring):not(.estimator) .goban .row li.paint_1 div.paint {
        display: block;
        background-color: black;
    }
    .scoring .goban .row li.area_-1 div.paint,
    .estimator .goban .row li.area_-1 div.paint,
    body:not(.scoring):not(.estimator) .goban .row li.paint_-1 div.paint {
        display: block;
        background-color: white;
}

/**
 * Markups
 */

.goban .row li .stone::after, .goban .row li .stone::after {
        content: '';
        box-sizing: border-box;
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: .5em;
        height: .5em;
        margin-left: calc(-.25em - 1px);
        margin-top: calc(-.25em - 1px);
        border-radius: 100%;
        z-index: 2;
    }

    .goban.siblings .row li.sign_0.siblingghost_1 .stone::after { background: black; }
    .goban.siblings .row li.sign_0.siblingghost_-1 .stone::after { background: white; }
    .goban.siblings .row li.sign_0.siblingghost_1 .stone::after,
    .goban.siblings .row li.sign_0.siblingghost_-1 .stone::after { opacity: .25; }
    .goban.siblings:not(.variations) .row li.sign_0.siblingghost_1 .stone::after,
    .goban.siblings:not(.variations) .row li.sign_0.siblingghost_-1 .stone::after,
    .goban.variations .row li.sign_0.ghost_1 .stone::after,
    .goban.variations .row li.sign_0.ghost_-1 .stone::after { opacity: .4; }

    .goban.variations .row li.sign_0.ghost_1 .stone::after,
    .goban .row li.sign_-1.point .stone::after { background: black; }
    .goban.variations .row li.sign_0.ghost_-1 .stone::after,
    .goban .row li.sign_1.point .stone::after { background: white; }

    .goban.movecolorization .row li.sign_0.ghost_1.goodmove .stone::after { background: #006300;  }
    .goban.movecolorization .row li.sign_0.ghost_-1.goodmove .stone::after { background: #47D661;  }
    .goban.movecolorization .row li.sign_0.ghost_1.interestingmove .stone::after { background: #003037; }
    .goban.movecolorization .row li.sign_0.ghost_-1.interestingmove .stone::after { background: #47B3BA; }
    .goban.movecolorization .row li.sign_0.ghost_1.doubtfulmove .stone::after { background: #EBEB00; }
    .goban.movecolorization .row li.sign_0.ghost_-1.doubtfulmove .stone::after { background: #FFFF1F; }
    .goban.movecolorization .row li.sign_0.ghost_1.badmove .stone::after { background: #930000; }
    .goban.movecolorization .row li.sign_0.ghost_-1.badmove .stone::after { background: #F76047; }

    body:not(.guess) .goban.siblings .row li.sign_0.siblingghost_1 .stone::after,
    body:not(.guess) .goban.siblings .row li.sign_0.siblingghost_-1 .stone::after,
    body:not(.guess) .goban.variations .row li.sign_0.ghost_1 .stone::after,
    body:not(.guess) .goban.variations .row li.sign_0.ghost_-1 .stone::after { display: block; }

    .goban .row li.sign_1.point .stone::after,
    .goban .row li.sign_-1.point .stone::after {
        display: block;
        width: .30em;
        height: .30em;
        margin-left: calc(-.15em - 1px);
        margin-top: calc(-.15em - 1px);
}

.goban .row li .stone span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;
        z-index: 2;
    }
    .goban .row li .stone span::before,
    .goban .row li .stone span::after {
        box-sizing: border-box;
        content: '';
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        background: url('../img/goban/board.png') center #EFB65D fixed;
        border: 2px solid #5E2E0C;
        box-shadow: 0 1px 0 #D28D32;
    }
    .goban .row li.sign_1 .stone span::before,
    .goban .row li.sign_1 .stone span::after {
        background: transparent;
        border-color: white;
        color: white;
        box-shadow: none;
        text-shadow: none;
    }
    .goban .row li.sign_-1 .stone span::before,
    .goban .row li.sign_-1 .stone span::after {
        background: transparent;
        border-color: black;
        color: black;
        box-shadow: none;
        text-shadow: none;
    }
    .goban .row li.square .stone span::before,
    .goban .row li.circle .stone span::before {
        display: block;
        width: .5em;
        height: .5em;
        margin-left: calc(-.25em - 1px);
        margin-top: calc(-.25em - 1px);
    }
    .goban .row li.circle .stone span::before {
        border-radius: 500em;
    }
    .goban .row li.cross .stone span {
        top: 50%;
        left: 50%;
        width: .7em;
        height: .7em;
        margin-left: calc(-.35em - 1px);
        margin-top: calc(-.35em - 1px);
        background: url('../img/goban/board.png') center #EFB65D fixed;
    }
    .goban .row li.cross.sign_1 .stone span,
    .goban .row li.cross.sign_-1 .stone span {
        background: transparent;
    }
    .goban .row li.cross .stone span::before,
    .goban .row li.cross .stone span::after {
        content: '';
        display: block;
        border-width: 2px 0 0 0;
        width: .7em;
        height: 0;
        margin-left: -.35em;
        margin-top: -1px;
        box-shadow: none;
        transform: rotate(45deg);
    }
    .goban .row li.cross .stone span::after {
        transform: rotate(-45deg);
    }
    .goban .row li.triangle .stone span::before {
        box-sizing: content-box;
        display: block;
        border-top: none;
        border-left: .3em solid transparent;
        border-right: .3em solid transparent;
        border-bottom: .5em solid;
        margin-left: calc(-.3em - 1px);
        margin-top: calc(-.33em - 1px);
        background: none;
    }
    .goban .row li.triangle .stone span::after {
        box-sizing: content-box;
        display: block;
        border-top: none;
        border-left: calc(.3em - 3px) solid transparent;
        border-right: calc(.3em - 3px) solid transparent;
        border-bottom: calc(.5em - 6px) solid #EFB65D;
        margin-left: calc(-.3em + 2px);
        margin-top: calc(-.33em + 3px);
        background: none;
        box-shadow: none;
    }
    .goban .row li.triangle.sign_1 .stone span::after {
        border-bottom-color: #242424;
    }
    .goban .row li.triangle.sign_-1 .stone span::after {
        border-bottom-color: #EDEDED;
    }
    .goban .row li.label .stone span::before {
        content: attr(title);
        display: inline-block;
        border: none;
        max-width: 1.67em;
        height: 1.1em;
        overflow: hidden;
        box-shadow: none;
        font-weight: normal;
        font-size: .6em;
        line-height: .9;
        text-overflow: ellipsis;
        transform: translate(calc(-50% - 1px), calc(-50% - 1px));
    }
    .goban .row li.smalllabel .stone span::before {
        max-width: 2.2em;
        height: 1.1em;
        font-size: .36em;
}

/**
 * Lines & Arrows
 */

.goban .line, .goban .arrow,
.goban .arrow::before, .goban .arrow::after {
    position: absolute;
    border: none;
    height: .11em;
    background: #5E2E0C;
    pointer-events: none;
    z-index: 3;
}

.goban .arrow::before, .goban .arrow::after {
        content: '';
        width: .36em;
        right: 0;
        top: -.07em;
        transform: rotate(30deg);
    }
    .goban .arrow::after {
        top: auto;
        bottom: -.07em;
        transform: rotate(-30deg);
}

/**
 * Fuzzy stone placement
 */

.goban.fuzzy .row li.sign_1.shift_1 .stone,
.goban.fuzzy .row li.sign_-1.shift_1 .stone {
        transform: translateX(-2px);
    }
    .goban.fuzzy .row li.sign_1.shift_2 .stone,
    .goban.fuzzy .row li.sign_-1.shift_2 .stone {
        transform: translateY(-2px);
    }
    .goban.fuzzy .row li.sign_1.shift_3 .stone,
    .goban.fuzzy .row li.sign_-1.shift_3 .stone {
        transform: translateX(2px);
    }
    .goban.fuzzy .row li.sign_1.shift_4 .stone,
    .goban.fuzzy .row li.sign_-1.shift_4 .stone {
        transform: translateY(2px);
    }
    .goban.fuzzy .row li.sign_1.shift_5 .stone,
    .goban.fuzzy .row li.sign_-1.shift_5 .stone {
        transform: translate(-1px, -1px);
    }
    .goban.fuzzy .row li.sign_1.shift_6 .stone,
    .goban.fuzzy .row li.sign_-1.shift_6 .stone {
        transform: translate(1px, -1px);
    }
    .goban.fuzzy .row li.sign_1.shift_7 .stone,
    .goban.fuzzy .row li.sign_-1.shift_7 .stone {
        transform: translate(1px, 1px);
    }
    .goban.fuzzy .row li.sign_1.shift_8 .stone,
    .goban.fuzzy .row li.sign_-1.shift_8 .stone {
        transform: translate(-1px, 1px);
}

.goban.animation .row li.animate .stone {
    transition: transform .2s;
}
