header, #bar #edit, #bar #scoring {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 40px;
        transition: .2s top;
    }
    header > span {
        position: absolute;
        left: 0;
        right: 50%;
        top: 0;
        bottom: 0;
        padding-left: 10px;
        padding-right: 30px;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #player_-1 {
        left: 50%;
        right: 0;
        padding-right: 42px;
        padding-left: 30px;
        text-align: left;
    }
    header > span > .captures {
        position: relative;
        top: -1px;
        display: inline-block;
        height: 20px;
        min-width: 10px;
        border-radius: 10px;
        padding: 0 5px;
        margin: 0 5px;
        background: black;
        line-height: 20px;
        text-align: center;
        opacity: .7;
        font-size: .8em;
        transition: .2s opacity;
    }
    header img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 21px;
        transform: translate(-50%, -50%);
    }
    #headermenu {
        left: auto;
        right: 5px;
        height: 32px;
        transform: translateY(-50%);
}

#bar {
        transition: .2s background;
    }
    #bar.edit {
        background: #C4BD64;
    }
    .scoring #bar {
        background: #C42311;
    }
    #bar #edit {
        color: #333;
        top: -40px;
    }
    #bar.edit #edit {
        top: 0;
    }
    #bar.edit header {
        top: 40px;
    }
    #bar #scoring {
        top: 40px;
    }
    #bar #scoring button {
        position: absolute;
        left: 10px;
        top: 50%;
        background: #400000;
        transform: translateY(-50%);
    }
    #bar #scoring button:hover, #bar #scoring button:focus {
        background: #600000;
    }
    #bar #scoring button:active {
        transform: translateY(-46%);
    }
    .scoring #bar #scoring {
        top: 0;
    }
    .scoring #bar header {
        top: -40px;
}

#edit {
        position: relative;
    }
    #edit a.close, #scoring a.close {
        display: block;
        position: absolute;
        right: 4px;
        top: 0;
        height: 40px;
        width: 35px;
        background: no-repeat url('../img/ui/close.png') center;
        opacity: .5;
    }
    #scoring a.close {
        background: no-repeat url('../img/ui/close_invert.png') center;
    }
    #edit a.close:active, #scoring a.close:active {
        opacity: .7;
    }
    #edit ul {
        display: table;
        margin: 0 auto;
        overflow: hidden;
        list-style: none;
    }
    #edit ul li {
        margin: 0 2px;
        float: left;
    }
    #edit ul li a {
        position: relative;
        display: block;
        height: 40px;
        width: 35px;
    }
    #bar.edit #edit ul li a:hover {
        background: #B3AC53;
    }
    #bar.edit #edit ul li.selected a, #bar.edit #edit ul li a:active {
        background: #A29B42;
    }
    #edit ul li a img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%);
}

#sidebar {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        background: #111;
    }
    #sidebar .verticalresizer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        cursor: ew-resize;
        z-index: 10;
    }
    .sidebar #sidebar {
        display: block;
    }
    .sidebar #main {
        right: 200px;
}

#graph {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 50%;
        z-index: 1;
    }
    #graph .slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 8px;
        z-index: 10;
        transition: .2s background;
    }
    #graph .slider.active, #graph .slider:hover {
        background: #292929;
    }
    #graph .slider div {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 0%;
        z-index: 2;
        background: #393939;
        box-shadow: 0 0 10px #111;
        transition: .5s height, .2s background;
    }
    #graph .slider.active div, #graph .slider:hover div {
        background: #494949;
    }
    #graph .slider.active div { transition: none; }
    #graph .slider span {
        position: absolute;
        right: 8px;
        top: 25px;
        width: 20px;
        border-right: 3px solid #111;
        padding: 2px 9px 2px 5px;
        background: #494949 url('../img/ui/sliderlabelarrow.png') no-repeat right;
        color: #ccc;
        font-size: .8em;
        text-align: center;
        opacity: 0;
        box-shadow: 0 0 10px #111;
        z-index: 1;
        transition: .2s opacity;
    }
    #graph .slider:hover span, #graph .slider.active span {
        opacity: 1;
}

#properties {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: #181818;
    box-shadow: 0 0 10px #111;
}

#info, #score {
        position: fixed;
        left: 0;
        right: 0;
        bottom: -285px;
        height: 235px;
        overflow: hidden;
        padding: 20px;
        background: #26292C;
        color: #eee;
        transition: .5s bottom;
        z-index: 15;
    }
    #info.show, #score.show {
        bottom: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
    #info input, #info select, button {
        background: #111;
        color: #eee;
    }
    #info input:focus, #info select:focus, button:hover, button:focus {
        background: #1a1a1a;
    }
    button:active {
        position: relative;
        top: 2px;
    }
    #info section {
        text-align: center;
        margin-bottom: 20px;
    }
    #info section img {
        margin: 0 10px;
        height: 31px;
    }
    #info section input[name$="_1"] {
        text-align: right;
    }
    #info section input[name^="rank"] {
        width: 40px;
    }
    #info input[name="komi"], #info input[name="size"] {
        width: 40px;
    }
    #info label span {
        display: inline-block;
        width: 6em;
        margin-right: 10px;
        text-align: right;
}

#score {
        background: #FBF593;
        color: #333;
    }
    #score .method {
        position: absolute;
        top: 27px;
        left: 96px;
        right: 20px;
        list-style: none;
    }
    #score .method li:not(.current) a:hover {
        border: 1px solid transparent;
        background: rgba(0, 0, 0, .1);
    }
    #score .method li.current a {
        border: 1px solid transparent;
        background: rgba(0, 0, 0, .2);
    }
    #score .method li:first-child a {
        border-right: none !important;
    }
    #score .method li a {
        display: block;
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 2px 10px;
        float: left;
        color: #333;
        text-decoration: none;
        transition: .2s background, .2s border-color;
    }
    #score table {
        margin: 1em auto;
        width: 100%;
        max-width: 750px;
        border-collapse: collapse;
    }
    #score th, #score td {
        padding: 10px;
        text-align: right;
    }
    #score th {
        font-weight: normal;
        font-size: .8em;
        text-transform: uppercase;
    }
    #score td {
        font-size: 1.5em;
        font-weight: bold;
        transition: .2s opacity;
    }
    #score table .disabled {
        opacity: .5;
    }
    #score tbody tr:first-child {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    #score button {
        background: rgba(0, 0, 0, .1);
        color: #333;
    }
    #score button:focus, #score button:hover {
        background: rgba(0, 0, 0, .2);
}
