<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8" />
<title>Goban</title>
<meta name="author" content="Yichuan Shen" />

<link rel="stylesheet" type="text/css" href="../style/app.css" />
<link rel="stylesheet" type="text/css" href="../style/goban.css" />
<link rel="stylesheet" type="text/css" href="../style/index.css" />

<script src="../lib/mootools.js"></script>
<script src="../lib/sigma/sigma.min.js"></script>
<script src="index.js"></script>
<script src="index.view.js"></script>

</head>
<body>

<section id="main">
    <section id="goban" class="goban">
        <div></div>
    </section>

    <section id="bar">
        <section id="edit">
            <ul>
                <li class="selected stone-tool">
                    <a href="#" title="Stone Tool"><img src="../img/edit/stone_1.png" /></a>
                </li>
                <li class="cross-tool">
                    <a href="#" title="Cross Tool"><img src="../img/edit/cross.png" /></a>
                </li>
                <li class="triangle-tool">
                    <a href="#" title="Triangle Tool"><img src="../img/edit/triangle.png" /></a>
                </li>
                <li class="square-tool">
                    <a href="#" title="Square Tool"><img src="../img/edit/square.png" /></a>
                </li>
                <li class="circle-tool">
                    <a href="#" title="Circle Tool"><img src="../img/edit/circle.png" /></a>
                </li>
                <li class="label-tool">
                    <a href="#" title="Label Tool"><img src="../img/edit/label.png" /></a>
                </li>
                <li class="number-tool">
                    <a href="#" title="Number Tool"><img src="../img/edit/number.png" /></a>
                </li>
            </ul>
            <a class="close" href="#" onclick="setEditMode(false)"></a>
        </section>
        <header>
            <span id="player_1"><span class="captures">0</span> <span class="name">Black</span></span>
            <img class="currentplayer" src="../img/ui/blacktoplay.png" />
            <span id="player_-1"><span class="name">White</span> <span class="captures">0</span></span>
            <img id="headermenu" src="../img/ui/menu.png" onclick="openHeaderMenu()" />
        </header>
        <section id="scoring">
            <button onclick="showScore()">Done</button> Please select dead stones.
            <a class="close" href="#" onclick="setScoringMode(false)"></a>
        </section>
    </section>

    <section id="info">
        <form>
            <section>
                <input type="text" name="rank_1" placeholder="Rank" />
                <input type="text" name="name_1" placeholder="Player Black" />
                <img class="currentplayer" src="../img/ui/blacktoplay.png" onload="this.draggable = false" />
                <input type="text" name="name_-1" placeholder="Player White" />
                <input type="text" name="rank_-1" placeholder="Rank" />
            </section>

            <ul>
                <li>
                    <label><span>Result:</span>
                    <input type="text" name="result" placeholder="None" /></label>
                </li>
                <li>
                    <label><span>Komi:</span>
                    <input type="text" name="komi" placeholder="0" /></label>
                </li>
                <li>
                    <label><span>Handicap:</span>
                    <select name="handicap">
                        <option>No stones</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                    </select></label>
                </li>
                <li>
                    <label><span>Board size:</span>
                    <input type="number" name="size" placeholder="19" max="25" min="9" /></label>
                </li>
            </ul>

            <p>
                <button type="submit" onclick="updateGameInfo(); closeGameInfo(); return false">OK</button>
                <button type="reset" onclick="closeGameInfo(); return false">Cancel</button>
            </p>
        </form>
    </section>

    <section id="score">
        <h2>Score</h2>

        <ul class="method">
            <li class="area"><a href="#" onclick="setScoringMethod('area')">Area</a></li>
            <li class="current territory"><a href="#" onclick="setScoringMethod('territory')">Territory</a></li>
        </ul>

        <table>
            <thead>
                <tr>
                    <th class="area territory"></th>
                    <th class="area disabled">Area</th>
                    <th class="territory">Territory</th>
                    <th class="territory">Captures</th>
                    <th class="area territory">Komi</th>
                    <th class="area territory">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="area territory">
                        <img src="../img/goban/stone_1.png" alt="Black" width="24" height="24" />
                    </th>
                    <td class="area disabled">0</td>
                    <td class="territory">0</td>
                    <td class="territory">0</td>
                    <td class="area territory"></td>
                    <td class="area territory">0</td>
                </tr>
                <tr>
                    <th class="area territory">
                        <img src="../img/goban/stone_-1.png" alt="White" width="24" height="24" />
                    </th>
                    <td class="area disabled">0</td>
                    <td class="territory">0</td>
                    <td class="territory">0</td>
                    <td class="area territory">0</td>
                    <td class="area territory">0</td>
                </tr>
            </tbody>
        </table>

        <form>
            <p>
                <button type="submit" onclick="updateScore(); closeScore(); return false">Update Result</button>
                <button type="submit" onclick="closeScore(); return false">Cancel</button>
            </p>
        </form>
    </section>
</section>

<section id="sidebar">
    <div class="verticalresizer"></div>

    <section id="graph">
        <div class="slider">
            <div></div>
        </div>
    </section>
</section>

<section id="loading"></section>

</body>
</html>
